<div class="ContentZ">
  <div class="ContentZ-One">
    <h1>中国低碳照明网</h1>
    <p><a routerLink='/project-demo/selected-case' routerLinkActive='active'>案例精选</a></p>
    <p><a routerLink='/project-demo/authority-comment' routerLinkActive='active'>权威点评</a></p>
  </div>
  <div class="ContentZ-Two">
    <div class="ContentZ-Two1">
      <h1>示范工程</h1>
      <p>
        <a routerLink='/' routerLinkActive='active'>首页</a> >
        <a routerLink='/project-demo' routerLinkActive='active'>示范工程</a> >
        <a routerLink='/project-demo/authority-comment' routerLinkActive='active'>权威点评</a>
      </p>
    </div>
    <div class="ContentZ-Two2" *ngFor="let content of contents">
      <div class="ContentZ-Two2-1">
        <a routerLink='/details/{{content.id}}' routerLinkActive='active'>
          <img src="{{content.cover}}" alt="大型商场案例图片">
        </a>
        <h1>大型商场案例</h1>
        <h2>工程地点:{{content.location}}</h2>
        <p>{{content.content}}</p>
        <a routerLink='/details/{{content.id}}' routerLinkActive='active'><span>[查看详情]</span></a>
      </div>
    </div>
  </div>
</div>
