<div class="ContentZ">
  <div class="ContentZ-One">
    <h1>中国低碳照明网</h1>
    <p><a routerLink='/online-course' routerLinkActive='active'>在线课程</a></p>
  </div>
  <div class="ContentZ-Two">
    <div class="ContentZ-Two1">
      <h1>在线课程</h1>
      <p>
        <a routerLink='/' routerLinkActive='active'>首页</a> >
        <a routerLink='/online-course' routerLinkActive='active'>在线课程</a>
      </p>
    </div>
    <div class="ContentZ-Two2" *ngFor="let contents of contentsArray; let i = index;">
      <div class="ContentZ-Two2-2">
        <div *ngFor="let content of contents">
          <a routerLink='/details/{{content.id}}' routerLinkActive='active'>
            <img src="{{content.cover}}" alt="在线课程封面">
          </a>
          <a routerLink='/details/{{content.id}}' routerLinkActive='active'><p>在线课程</p></a>
        </div>
      </div>
    </div>
  </div>
</div>
