<div class="ContentZ">
  <div class="ContentZ-One">
    <h1>中国低碳照明网</h1>
    <p><a routerLink='/expert-views' routerLinkActive='active'>专家视点</a></p>
  </div>
  <div class="ContentZ-Two">
    <div class="ContentZ-Two1">
      <h1>专家视点</h1>
      <p>
        <a routerLink='/' routerLinkActive='active'>首页</a> >
        <a routerLink='/expert-views' routerLinkActive='active'>专家视点</a> >
        <a routerLink='/expert-views' routerLinkActive='active'>专家视点</a>
      </p>
    </div>
    <div class="ContentZ-Two2">
      <ul>
        <li *ngFor = "let content of contents">
          <a routerLink='/details/{{content.id}}' routerLinkActive='active'>{{content.title}}</a>
        </li>
      </ul>
      <ol>
        <li *ngFor = "let content of contents">
          <a routerLink='/details/{{content.id}}' routerLinkActive='active'>{{content.createTime}}</a>
        </li>
      </ol>
    </div>
  </div>
</div>
