<div class="ContentZ">
  <div class="ContentZ-One">
    <h1>中国低碳照明网</h1>
    <p><a routerLink='/official-journal' routerLinkActive='active'>官方刊物</a></p>
  </div>
  <div class="ContentZ-Two">
    <div class="ContentZ-Two1">
      <h1>官方刊物</h1>
      <p>
        <a routerLink='/' routerLinkActive='active'>首页</a> >
        <a routerLink='/official-journal' routerLinkActive='active'>官方刊物</a>
      </p>
    </div>
    <div class="ContentZ-Two2">

      <div class="ContentZ-Two2-2" *ngIf="firstLine!= null && firstLine.length>0">
        <div *ngFor="let content of firstLine">
          <a routerLink='/details/{{content.id}}' routerLinkActive='active'>
            <img src="{{content.cover}}" alt="刊物封面">
          </a>
          <a routerLink='/details/{{content.id}}' routerLinkActive='active'><p>{{content.title}}</p></a>
        </div>
      </div>
      <div class="ContentZ-Two2-2" *ngIf="secondLine!= null && secondLine.length>0">
        <div *ngFor="let content of secondLine">
          <a routerLink='/details/{{content.id}}' routerLinkActive='active'>
            <img src="{{content.cover}}" alt="刊物封面">
          </a>
          <a routerLink='/details/{{content.id}}' routerLinkActive='active'><p>{{content.title}}</p></a>
        </div>
      </div>
      <div class="ContentZ-Two2-2"  *ngIf="thirdLine!= null && thirdLine.length>0">
        <div *ngFor="let content of thirdLine">
          <a routerLink='/details/{{content.id}}' routerLinkActive='active'>
            <img src="{{content.cover}}" alt="刊物封面">
          </a>
          <a routerLink='/details/{{content.id}}' routerLinkActive='active'><p>{{content.title}}</p></a>
        </div>
      </div>
      <div class="ContentZ-Two2-2"  *ngIf="lastLine!= null && lastLine.length>0">
        <div *ngFor="let content of lastLine">
          <a routerLink='/details/{{content.id}}' routerLinkActive='active'>
            <img src="{{content.cover}}" alt="刊物封面">
          </a>
          <a routerLink='/details/{{content.id}}' routerLinkActive='active'><p>{{content.title}}</p></a>
        </div>
      </div>
    </div>
  </div>
</div>
