<div class="ContentZ">
  <div class="ContentZ-One">
    <h1>中国低碳照明网</h1>
    <p><a routerLink='/document-library/prof-book' routerLinkActive='active'>专业书籍</a></p>
    <p><a routerLink='/document-library/academic-paper' routerLinkActive='active'>学术论文</a></p>
    <p><a routerLink='/document-library/research-report' routerLinkActive='active'>研究报告</a></p>
    <p><a routerLink='/document-library/video-image' routerLinkActive='active'>视频图片</a></p>
  </div>
  <div class="ContentZ-Two">
    <div class="ContentZ-Two1">
      <h1>资料阅读</h1>
      <p>
        <a routerLink='/' routerLinkActive='active'>首页</a> >
        <a routerLink='/document-library' routerLinkActive='active'>资料阅读</a> >
        <a routerLink='/document-library/prof-book' routerLinkActive='active'>专业书籍</a>
      </p>
    </div>
    <div class="ContentZ-Two2">
      <div class="ContentZ-Two2-2" *ngIf="firstLine.length>0">
        <div *ngFor="let content of firstLine">
          <a routerLink='/details/{{content.id}}' routerLinkActive='active'>
            <img src="{{content.cover}}" alt="专业书籍图片">
          </a>
          <a routerLink='/details/{{content.id}}' routerLinkActive='active'><p>{{content.title}}</p></a>
        </div>
      </div>
      <div class="ContentZ-Two2-2" *ngIf="secondLine.length>0">
        <div *ngFor="let content of secondLine">
          <a routerLink='/details/{{content.id}}' routerLinkActive='active'>
            <img src="{{content.cover}}" alt="专业书籍籍图片">
          </a>
          <a routerLink='/details/{{content.id}}' routerLinkActive='active'><p>{{content.title}}</p></a>
        </div>
      </div>
      <div class="ContentZ-Two2-2" *ngIf="thirdLine.length>0">
        <div *ngFor="let content of thirdLine">
          <a routerLink='/details/{{content.id}}' routerLinkActive='active'>
            <img src="{{content.cover}}" alt="专业书籍图片">
          </a>
          <a routerLink='/details/{{content.id}}' routerLinkActive='active'><p>{{content.title}}</p></a>
        </div>
      </div>
      <div class="ContentZ-Two2-2" *ngIf="lastLine.length>0">
        <div *ngFor="let content of lastLine">
          <a routerLink='/details/{{content.id}}' routerLinkActive='active'>
            <img src="{{content.cover}}" alt="专业书籍图片">
          </a>
          <a routerLink='/details/{{content.id}}' routerLinkActive='active'><p>{{content.title}}</p></a>
        </div>
      </div>
    </div>
  </div>
</div>
