<div class="Footer">
  <div class="Foot-One">
    <a href="ditan.html"><div class="Foot-One1">关于我们</div></a>
    <a href="ditan.html"><div class="Foot-One2">联系我们</div></a>
    <a href="#"><div class="Foot-One2">法律声明</div></a>
    <a href="#"><div class="Foot-One2">广告服务</div></a>
    <a href="#"><div class="Foot-One2">友情链接</div></a>
    <a href="#"><div class="Foot-One3">网站导航</div></a>
  </div>
  <div class="Foot-Two">通讯地址：北京海淀区首体南路9号主语国际7号楼1201室（100044）</div>
  <div class="Foot-San">电话：010-68720069转827&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;传真:010-68799096&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联系信箱：web@lowcarbon-lighting.com</div>
  <div class="Foot-Si">版权所有:中国低碳照明网&nbsp;&nbsp;&nbsp;京ICP备07024683</div>
</div>
