<div class="ContentZ">
  <div class="ContentZ-One">
    <h1>中国低碳照明网</h1>
    <p><a routerLink='/expert-library' routerLinkActive='active'>专家库</a></p>
  </div>
  <div class="ContentZ-Two">
    <div class="ContentZ-Two1">
      <h1>专家库</h1>
      <p>
        <a routerLink='/' routerLinkActive='active'>首页</a> >
        <a routerLink='/expert-library' routerLinkActive='active'>专家库</a>
      </p>
    </div>

    <div class="ContentZ-Two2" *ngFor = "let content of contents">
      <div class="ContentZ-Two2-1">
        <a routerLink='/details/{{content.id}}' routerLinkActive='active'>
          <img src="{{content.cover}}" alt="专家照片">
        </a>
        <h1>{{content.author}}</h1>
        <h2>籍贯:{{content.location}}</h2>
        <p>{{content.content}}</p>
        <a routerLink='/details/{{content.id}}' routerLinkActive='active'><span>[查看详情]</span></a>
      </div>
    </div>
  </div>
</div>
