<div class="ContentT">
  <div class="ConT-San">
    <div class="ConT-San1">
      <div class="ConT-San2"><img src="../../assets/img/b1.jpg" alt=""></div>
      <div class="ConT-San3">
        <a routerLink='/lcl-research/center-briefintro' routerLinkActive='active'>
          <div>▶中心简介</div>
        </a>
        <a routerLink='/lcl-research/center-news' routerLinkActive='active'>
          <div>▶中心要闻</div>
        </a>
        <a routerLink='/lcl-research/center-aboutus' routerLinkActive='active'>
          <div>▶关于我们</div>
        </a>
        <a routerLink='/lcl-research/center-contactus' routerLinkActive='active'>
          <div>▶联系我们</div>
        </a>
      </div>
    </div>
    <div class="ConT-Si">
      <div class="ConT-Si3">
        <div class="titles">关于我们</div>
        <div class="infos"><span>时间：2017-5-13 11:12:25 </span><span>浏览次数：2</span></div>
        <div class="contents">
          示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范
          示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范
          示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程示范工程
          <img src="../../assets/img/lb1.jpg" alt=""></div>
      </div>
    </div>
  </div>
</div>
