<div class="Header">
  <div class="Logo">
    <div class="Logo-One">
      <div class="Logo-One1">
        <img src="../../../assets/img/logo.png" alt="Logo标识" style="width:1.187rem;height:1.12rem;">
      </div>
      <div class="Logo-One2">中国低碳照明网</div>
      <div class="Logo-One3">www.lowcarbon-lighting.com</div>
    </div>
    <div class="Logo-Two">
      <img class="Logo-Two1" src="../../../assets/img/dianhua.png" alt="Phone标识">
      <div class="Logo-Two2">咨询电话：</div>
      <div class="Logo-Two3">010-68720069-827</div>
    </div>
    <div class="Logo-San">
      <div class="Logo-San1">设为主页</div>
      <div class="Logo-San2">加入收藏</div>
    </div>
  </div>
  <div class="Dh">
    <div class="Dh-One">
      <a href="#">首页</a>
    </div>
    <div class="Dh-Two">
      <a routerLink='/lcl-research' routerLinkActive='active'>低碳照明研究中心</a>
      <div class="Dh-Two1">
        <div class="Dh-Two1-1"><a routerLink='/lcl-research/center-briefintro' routerLinkActive='active'>中心简介</a></div>
        <div class="Dh-Two1-2"><a routerLink='/lcl-research/center-news' routerLinkActive='active'>中心要闻</a></div>
        <div class="Dh-Two1-3"><a routerLink='/lcl-research/center-aboutus' routerLinkActive='active'>关于我们</a></div>
        <div class="Dh-Two1-4"><a routerLink='/lcl-research/center-contactus' routerLinkActive='active'>联系我们</a></div>
      </div>
    </div>
    <div class="Dh-San">
      <a routerLink='/trade-advisory' routerLinkActive='active'>行业咨询</a>
      <div class="Dh-San1">
        <div class="Dh-San1-1"><a routerLink='/trade-advisory/domestic-hotspot' routerLinkActive='active'>国内热点</a></div>
        <div class="Dh-San1-2"><a routerLink='/trade-advisory/international-hotspot' routerLinkActive='active'>国际聚焦</a></div>
        <div class="Dh-San1-3"><a routerLink='/trade-advisory/convention-tracking' routerLinkActive='active'>会展动态</a></div>
      </div>
    </div>
    <div class="Dh-Si">
      <a routerLink='/policy-standard' routerLinkActive='active'>政策标准</a>
      <div class="Dh-Si1">
      <div class="Dh-Si1-1"><a routerLink='/policy-standards/centralgov-doc' routerLinkActive='active'>中央部委文件</a></div>
      <div class="Dh-Si1-2"><a routerLink='/policy-standards/localgov-doc' routerLinkActive='active'>地方政府文件</a></div>
      <div class="Dh-Si1-3"><a routerLink='/policy-standards/international-std' routerLinkActive='active'>国际标准</a></div>
    </div>
    </div>
    <div class="Dh-Wu"><a routerLink='/expert-viewpoint' routerLinkActive='active'>专家视点</a></div>
    <div class="Dh-Six"><a routerLink='/product-demo' routerLinkActive='active'>示范工程</a>
      <div class="Dh-Six1">
      <div class="Dh-Six1-1"><a routerLink='/product-demo/selected-case' routerLinkActive='active'>案例精选</a></div>
      <div class="Dh-Six1-2"><a routerLink='/product-demo/authority-comment' routerLinkActive='active'>权威点评</a></div>
    </div>
    </div>
    <div class="Dh-Qi">
      <a routerLink='/tender' routerLinkActive='active'>招标采购</a>
    </div>
    <div class="Dh-Ba">
      <a routerLink='/official-journal' routerLinkActive='active'>官方刊物</a>
    </div>
    <div class="Dh-Jiu">
      <a routerLink='/document' routerLinkActive='active'>资料阅读</a>
      <div class="Dh-Jiu1">
        <div class="Dh-Jiu1-1"><a routerLink='/document/prof-book' routerLinkActive='active'>专业书籍</a></div>
        <div class="Dh-Jiu1-2"><a routerLink='/document/academic-paper' routerLinkActive='active'>学术论文</a></div>
        <div class="Dh-Jiu1-3"><a routerLink='/document/research-report' routerLinkActive='active'>研究报告</a></div>
        <div class="Dh-Jiu1-4"><a routerLink='/document/video-image' routerLinkActive='active'>视频图片</a></div>
      </div>
    </div>
    <div class="Dh-Ten">
      <a routerLink='/online-course' routerLinkActive='active'>在线课程</a>
    </div>
    <div class="Dh-Shiy">
      <a routerLink='/expert-lib' routerLinkActive='active'>专家库</a>
    </div>
  </div>
  <div id="fenggouyi">
    <ul class="ul1">
      <li class="active"><img src="../../../assets/img/lb1.jpg" alt="轮播图片"></li>
      <li><img src="../../../assets/img/lb2.jpg" alt="轮播图片"></li>
      <li><img src="../../../assets/img/lb1.jpg" alt="轮播图片"></li>
      <li><img src="../../../assets/img/lb2.jpg" alt="轮播图片"></li>
    </ul>
    <div id="num_list">
      <ul>
        <li><span class="active_num"></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
      </ul>
    </div>
  </div>
</div>
