<div class="ContentT">
  <div class="ConT-San">
    <div class="ConT-San1">
      <div class="ConT-San2">政策标准</div>
      <div class="ConT-San3">
        <a routerLink='/policy-standard/centralgov-doc' routerLinkActive='active'>
          <div>▶&nbsp;中央部委文件</div>
        </a>
        <a routerLink='/policy-standard/localgov-doc' routerLinkActive='active'>
          <div>▶&nbsp;地方政府文件</div>
        </a>
        <a routerLink='/policy-standard/international-std' routerLinkActive='active'>
          <div>▶&nbsp;国&nbsp;际&nbsp;&nbsp;标&nbsp;准</div>
        </a>
      </div>
      <div class="ConT-San2">行业资讯</div>
      <div class="ConT-San3">
        <a routerLink='/trade-advisory/domestic-hotspot' routerLinkActive='active'>
          <div>▶&nbsp;国内热点</div>
        </a>
        <a routerLink='/trade-advisory/international-hotspot' routerLinkActive='active'>
          <div>▶&nbsp;国际聚聚</div>
        </a>
        <a routerLink='/trade-advisory/convention-tracking' routerLinkActive='active'>
          <div>▶&nbsp;会展动态</div>
        </a>
      </div>
      <div class="ConT-San2">示范工程</div>
      <div class="ConT-San3">
        <a routerLink='/project-demo/selected-case' routerLinkActive='active'>
          <div>▶&nbsp;精选案例</div>
        </a>
        <a routerLink='/project-demo/authority-comment' routerLinkActive='active'>
          <div>▶&nbsp;权威点评</div>
        </a>
      </div>
    </div>
    <div class="ConT-Si" *ngIf="content">
      <div class="ConT-Si3">
        <div class="titles">{{content.title}}</div>
        <div class="infos"><span>时间：{{content.createTime | date:'yyyy-MM-dd HH:mm:ss'}} </span><span>浏览次数：{{content.viewCount}}</span></div>
        <div class="contents" [innerHTML]="content.content"></div>
      </div>
      <div class="wz"><a *ngIf="preId" routerLink='/details/{{preId}}'>上一篇</a></div>
      <div class="wz"><a *ngIf="nextId" routerLink='/details/{{nextId}}'>下一篇</a></div>
    </div>
  </div>
</div>
